<div class="row">
  <div class="col-md-6 offset-3">
    <h1>
      feed
    </h1>
    <h2>
    posts by people you follow
    </h2>

  </div>
</div>

<% @user.feed.each do |photo| %>
  <%= render "photos/photo", photo: photo %>
<% end %>
